<div class="container">
    <div class="header">
        <div>
            <h1>The Burger Application</h1>
            <hr>
            <p>This burger application is a small student project that showcase how data flows from a user input to the
                database.</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="box">
            <h2>Create a New Burger</h2>
            <form id="create-burger">
                <textarea type="text" name="burger" cols="30" rows="1"></textarea>
                <button class='primary_btn' type="submit">Save Burger</button>
            </form>


            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/devour-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div>
            <h2>Your Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}

            </ul>
        </div>

    </div>

</div>