/* Global  */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Termina', sans-serif;
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0px;
}

.primary_btn {
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px;
}

/* Page */
.container {
	position: absolute;
	background-image: url('../images/home_bg.png');
	background-size: cover;
	height: 100vh;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	padding: 2rem 10rem;
	text-align: center;
}

.wrapper {
	padding: 2rem 10rem;
	display: grid;
	grid-template-columns: 5fr 4fr;
	grid-gap: 1rem;
	text-align: center;
	grid-auto-rows: minmax(100px, auto);
}

.wrapper > div {
	background: hsl(0, 0%, 96%);
	padding: 1rem;
	border-radius: 0.5em;
}

.box {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

.box > form {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

.box > form > button {
	justify-self: center;
	align-self: end;
}

.box > button {
	justify-self: center;
	align-self: end;
}
